<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>About</string>
			<key>detail</key>
			<string>PSGAboutController</string>
			<key>dataSourceClass</key>
			<string>PSGAboutDataSource</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>SOFTWARE_UPDATE_LINK</string>
			<key>detail</key>
			<string>SUSUISoftwareUpdateController</string>
			<key>label</key>
			<string>SOFTWARE_UPDATE</string>
			<key>cellClass</key>
			<string>PSBadgedTableCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>AIRDROP_LINK</string>
			<key>detail</key>
			<string>PSGAirDropController</string>
			<key>label</key>
			<string>AIRDROP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>CONTINUITY_SPEC</string>
			<key>detail</key>
			<string>PSGContinuityController</string>
			<key>label</key>
			<string>CONTINUITY</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ContinuityCapability</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>PiP_SPEC</string>
			<key>detail</key>
			<string>PSGPiPController</string>
			<key>label</key>
			<string>PiP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>CarKitSettings</string>
			<key>id</key>
			<string>CARPLAY</string>
			<key>label</key>
			<string>CARPLAY</string>
			<key>requiredCapabilities</key>
			<array>
				<string>DeviceSupportsCarIntegration</string>
			</array>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>NFC_LINK</string>
			<key>detail</key>
			<string>PSGNfcController</string>
			<key>label</key>
			<string>NFC</string>
			<key>requiredCapabilities</key>
			<array>
				<string>zxMIgVSILN6S5ee6MZhf+Q</string>
				<dict>
					<key>IsSimulator</key>
					<false/>
					<key>RegionCode</key>
					<string>CH</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>requiredCapabilities</key>
			<array>
				<string>Jq+xaurJgFzSwxOfTqtBGw</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>HOME_BUTTON</string>
			<key>loadAction</key>
			<string>loadHomeButtonSettings:</string>
			<key>requiredCapabilities</key>
			<array>
				<string>Jq+xaurJgFzSwxOfTqtBGw</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>Multitasking_Gesture_Group</string>
			<key>footerCellClass</key>
			<string>MultitaskingGestureExplanationView</string>
			<key>requiredCapabilities</key>
			<array>
				<string>multitasking-gestures</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>Multitasking_Gesture_Switch</string>
			<key>defaults</key>
			<string>com.apple.springboard</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>requiredCapabilities</key>
			<array>
				<string>multitasking-gestures</string>
			</array>
			<key>key</key>
			<string>SBUseSystemGestures</string>
			<key>label</key>
			<string>GESTURES</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>Rotation_Switch_Action_Group</string>
			<key>label</key>
			<string>Rotation_Switch_Action_Group_Label</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ringer-switch</string>
				<string>ipad</string>
			</array>
			<key>isRadioGroup</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>Lock_Rotation_Button</string>
			<key>label</key>
			<string>Lock_Rotation</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ringer-switch</string>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>Mute_Button</string>
			<key>label</key>
			<string>Mute</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ringer-switch</string>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>StorageSettings</string>
			<key>id</key>
			<string>STORAGE_MGMT</string>
			<key>label</key>
			<string>STORAGE_MGMT</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>id</key>
			<string>AUTO_CONTENT_DOWNLOAD</string>
			<key>detail</key>
			<string>PSGAutomaticContentDownloadController</string>
			<key>label</key>
			<string>AUTO_CONTENT_DOWNLOAD</string>
		</dict>
		<dict>
			<key>id</key>
			<string>DATE_AND_TIME_GROUP</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSGDateTimeController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>DATE_AND_TIME</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>KeyboardSettings</string>
			<key>detail</key>
			<string>KeyboardController</string>
			<key>overridePrincipalClass</key>
			<true/>
			<key>id</key>
			<string>Keyboard</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>InternationalSettings</string>
			<key>label</key>
			<string>INTERNATIONAL</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>DictionarySettings</string>
			<key>label</key>
			<string>DICTIONARY</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>TV+SYNC+VPN+PROFILES_GROUP</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSGTVOutController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TV_OUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>requiredCapabilities</key>
			<array>
				<string>fcc-logos-via-software</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>LEGAL_AND_REGULATORY</string>
			<key>label</key>
			<string>LEGAL_AND_REGULATORY_TITLE</string>
			<key>loadAction</key>
			<string>loadLegalAndRegulatoryWithSpecifier:</string>
			<key>requiredCapabilities</key>
			<array>
				<string>fcc-logos-via-software</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSGResetPrefController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>buttonAction</key>
			<string>shutDown:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>customControllerClass</key>
			<string>PSGGeneralController</string>
			<key>label</key>
			<string>SHUTDOWN_LABEL</string>
		</dict>
	</array>
	<key>title</key>
	<string>General</string>
</dict>
</plist>
