<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>id</key>
			<string>PRIMARY_LANGUAGE_GROUP</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>buttonAction</key>
			<string>showLanguageSheet:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>NEW_PREFERRED_LANGUAGE</string>
			<key>label</key>
			<string>NEW_PREFERRED_LANGUAGE</string>
			<key>title</key>
			<string>DEVICE_LANGUAGE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>PREFERRED_LANGUAGE_GROUP</string>
			<key>label</key>
			<string>PREFERRED_LANGUAGES</string>
			<key>footerText</key>
			<string>PREFERRED_LANGUAGE_DESCRIPTION</string>
		</dict>
		<dict>
			<key>buttonAction</key>
			<string>showLanguageSheet:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>ADD_PREFERRED_LANGUAGE</string>
			<key>label</key>
			<string>ADD_PREFERRED_LANGUAGE</string>
			<key>title</key>
			<string>LANGUAGE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>LOCALE</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>buttonAction</key>
			<string>showLocaleSheet:</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>set</key>
			<string>setNumberingSystem:specifier:</string>
			<key>get</key>
			<string>numberingSystem:</string>
			<key>id</key>
			<string>NUMBERING_SYSTEM</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>titlesDataSource</key>
			<string>numberingSystemsTitles</string>
			<key>valuesDataSource</key>
			<string>numberingSystemsValues</string>
			<key>label</key>
			<string>NUMBERING_SYSTEM</string>
			<key>shortTitlesDataSource</key>
			<string>numberingSystemsShortTitles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>CALENDAR</string>
			<key>detail</key>
			<string>ISInternationalCalendarController</string>
			<key>get</key>
			<string>currentCalendarDisplayString</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>set</key>
			<string>setTemperatureUnit:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>CELSIUS</string>
				<string>FAHRENHEIT</string>
			</array>
			<key>get</key>
			<string>temperatureUnit:</string>
			<key>validValues</key>
			<array>
				<string>Celsius</string>
				<string>Fahrenheit</string>
			</array>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>TEMPERATURE_UNIT</string>
			<key>shortTitles</key>
			<array>
				<string>CELSIUS_SHORT</string>
				<string>FAHRENHEIT_SHORT</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>EXAMPLE</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>RegionFormatSampleView</string>
		</dict>
		<dict>
			<key>id</key>
			<string>BLANK_BOTTOM_SPACING</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>INTERNATIONAL</string>
</dict>
</plist>
