<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>proc_info-allow</key>
	<true/>
	<key>run-unsigned-code</key>
	<true/>
	<key>vm-pressure-level</key>
	<true/>
	<key>application-identifier</key>
	<string>ch.xxtou.tfcontainermanagerd</string>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<false/>
	<!-- Application Management -->
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.enterprise-volume-access</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
	<key>com.apple.usermanagerd.persona.fetchbundle</key>
	<true/>
	<key>com.apple.usermanagerd.persona.observer</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.private.security.install</key>
	<true/>
	<key>com.apple.appstored.coordinate-apps</key>
	<true/>
	<key>com.apple.appstored.install-apps</key>
	<true/>
	<key>com.apple.appstored.private</key>
	<true/>
	<key>com.apple.appstored.update-apps</key>
	<true/>
	<key>com.apple.appstored.xpc.updates</key>
	<true/>
	<key>com.apple.private.InstallCoordination.allowed</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>CopySafeHarbors</string>
		<string>Install</string>
		<string>Browse</string>
		<string>Uninstall</string>
		<string>Archive</string>
		<string>RemoveArchive</string>
		<string>InstallForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
		<string>UpdateSinfForLaunchServices</string>
		<string>CopyInstalledAppsForLaunchServices</string>
		<string>Lookup</string>
		<string>ProcessRestoredContainer</string>
		<string>RegisterSafeHarbor</string>
		<string>RemoveSafeHarbor</string>
		<string>SetCapabilities</string>
	</array>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<!-- Jetsam -->
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<!-- Icon State -->
	<key>com.apple.springboard.iconState</key>
	<true/>
	<key>com.apple.springboard.iconState.mutate</key>
	<true/>
</dict>
</plist>
