Package: ch.xxtou.ext
Name: Ext Modules
Version: 0.3
Section: Tweaks
Depends: firmware (>= 13.0), libzip, libarchive
Architecture: iphoneos-arm
Author: XXTouch Team.
Maintainer: XXTouch Team.
Description: Next generation XXTouch for iOS 13 and above.

