Package: ch.xxtou.liblua
Name: Lua Library
Version: 5.3.5
Section: Tweaks
Depends: firmware (>= 13.0)
Architecture: iphoneos-arm
Author: XXTouch Team.
Maintainer: XXTouch Team.
Description: Next generation XXTouch for iOS 13 and above.

